.container{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    background-color: grey;
    border: 2px solid red;
    justify-content: space-between;
}

.flex-item{
    display: flex;
    width: 150px;
    height: 150px;
    background-color: azure;
}

.flex-item:nth-of-type(1){
    background-color: red;
}

